:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-red: #d32f2f;
  --color-blue: #1976d2;
  --color-yellow: #fbbe28;
  --color-pink: #f06292;
  --color-light_grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-font: 18px;
  --size-border: 4px;
  --size-thunmbnail: 50px;

  /* annimation */
  --annimation-duration: 300ms;
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
  margin-right: var(--base-space);
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--size-font);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.items {
  list-style: none;
  width: 60%;
  height: 60%;
  padding-left: 0;
  overflow-y: scroll;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item_thumbnail {
  width: var(--size-thunmbnail);
  height: var(--size-thunmbnail);
}

.item_description {
  margin: var(--base-space);
  font-size: var(--size-font);
}


